@font-face {
  font-family: "SuisseIntl";
  src: url("font/sSuisseIntl-Light.woff2") format("woff2"), url("fonts/SuisseIntl-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular.woff2") format("woff2"), url("fonts/SuisseIntl-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Medium.woff2") format("woff2"), url("fonts/SuisseIntl-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-SemiBold.woff") format("woff2"), url("fonts/SuisseIntl-SemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SuisseIntl";
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 70px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #f8e600;
}

.header__content {
  max-width: 1320px;
  min-height: 140px;
  padding: 0 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icons-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo {
  margin-right: 16px;
  margin-left: -6px;
}

.header .burger {
  background-image: url(/Images/header/burger.svg);
  width: 34px;
  height: 14px;
}

.header .heart {
  background-image: url(/Images/header/icon-heart.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.header .search {
  background-image: url(/Images/header/icon-search.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 170px;
  margin-left: 26px;
}

.header .user {
  background-image: url(/Images/header/icon-user.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.page .hero {
  padding-top: 165px;
  padding-bottom: 80px;
  background-color: #f8e600;
}

.page .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.page .hero__content .vh__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page .hero__content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.page .hero__content-main .main-content__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.page .hero__content-main .main-content__name {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.page .hero__content-main .main-content__age {
  margin-right: 133px;
}

.page .hero__content-main .main-content__year {
  margin-bottom: 8px;
}

.page .hero__content-main .main-content__director {
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

.page .hero__content-main .main-content__2 {
  margin-left: auto;
  margin-right: 230px;
}

.page .hero__content-main .main-content__rate {
  margin-bottom: 16px;
}

.page .hero__content-main .main-content__number {
  font-size: 14px;
  line-height: 16px;
  color: #575757;
}

.page .hero__content-image {
  position: relative;
  top: -130px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page .hero__content-ticket {
  background-image: url(/Images/fill-star.svg);
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 44%;
  left: 4%;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .hero__content-ticket .ticket__link {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  max-width: 80px;
  text-align: center;
}

.page .hero__content-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .hero__content-descr .descr-content__premiere {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  max-width: 172px;
}

.page .hero__content-descr .descr-content__info {
  font-size: 18px;
  line-height: 24px;
  max-width: 326px;
}

.page .about {
  padding-top: 50px;
  padding-bottom: 200px;
}

.page .about img {
  margin-bottom: 80px;
  max-width: 100%;
}

.page .about svg {
  position: absolute;
  bottom: 10%;
  right: 30%;
}

.page .about__title {
  max-width: 1300px;
  margin-bottom: 20px;
  text-indent: 330px;
}

.page .about__subtitle {
  font-size: 18px;
  line-height: 28px;
  max-width: 665px;
  margin-left: auto;
  margin-bottom: 80px;
}

.page .about__list {
  width: 50%;
}

.page .about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .about__item:not(:last-child) {
  margin-bottom: 16px;
}

.page .about .item-about__title {
  width: 25%;
  min-width: 250px;
}

.page .about .item-about__descr {
  width: 75%;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page .about .item-about__link {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.page .about .item-about__link:hover {
  color: #ff8a00;
}

.page .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .about__trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 43%;
}

.page .about .trailer__video-1 {
  margin-top: -80px;
  margin-bottom: 40px;
}

.page .about .trailer__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  max-width: 240px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.page .about .trailer__info {
  font-size: 14px;
  line-height: 18px;
  color: #575757;
}

.page .about .trailer__video-2 {
  margin-left: auto;
}

.page .index {
  padding-bottom: 130px;
}

.page .index__list {
  border-bottom: 1px #000000 solid;
}

.page .index__item {
  position: relative;
  border-top: 1px #000000 solid;
  padding: 30px 0;
  cursor: pointer;
  padding-left: 32px;
}

.page .index .item-menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page .index .item-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.page .index .item-menu__button .button-menu__number {
  font-size: 14px;
  line-height: 18px;
  color: #575757;
  width: 25%;
  min-width: 100px;
  text-align: start;
}

.page .index .item-menu__button .button-menu__title {
  color: #ff8a00;
  margin-bottom: 0;
  text-align: left;
}

.page .index .item-menu-1:hover {
  background-image: url(/Images/index/Menu1.jpg);
}

.page .index .item-menu-2:hover {
  background-image: url(/Images/index/Menu2.jpg);
}

.page .index .item-menu-3:hover {
  background-image: url(/Images/index/Menu3.jpg);
}

.page .index .item-menu-4:hover {
  background-image: url(/Images/index/Menu4.jpg);
}

.page .index .item-menu-5:hover {
  background-image: url(/Images/index/Menu5.jpg);
}

.page .index .item-menu-6:hover {
  background-image: url(/Images/index/Menu6.jpg);
}

.page .index .item-menu-7:hover {
  background-image: url(/Images/index/Menu7.jpg);
}

.page .index .item-menu:hover h2,
.page .index .item-menu:hover div {
  color: #fff;
}

.page .starring {
  padding-bottom: 150px;
  overflow: hidden;
}

.page .starring__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

.page .starring__swiper {
  overflow: inherit;
}

.page .starring__swiper .swiper-button-prev {
  background: url(/Images/arrow-left.svg);
  width: 140px;
  height: 140px;
  top: 50%;
}

.page .starring__swiper .swiper-button-next {
  background: url(/Images/arrow-right.svg);
  width: 140px;
  height: 140px;
}

.page .starring__swiper .swiper-button-prev:after,
.page .starring__swiper .swiper-button-next:after {
  display: none;
}

.page .starring__swiper .starring__swiper-slide {
  width: 304px;
  cursor: pointer;
}

.page .starring__swiper .starring__swiper-slide:nth-child(2n) {
  margin-top: 230px;
}

.page .starring__swiper .starring__swiper-slide:nth-child(3n) {
  margin-top: 80px;
}

.page .starring__swiper .starring__swiper-slide:nth-child(4n) {
  margin-top: 310px;
}

.page .starring__swiper .starring__swiper-image img {
  width: 100%;
  margin-bottom: 30px;
}

.page .starring__swiper .swiper-content__name {
  font-size: 28px;
  line-height: 38px;
}

.page .starring__swiper .swiper-content__name-eng {
  font-size: 14px;
  line-height: 18px;
  color: #8f8f8f;
}

.page .images {
  padding-bottom: 150px;
}

.page .images__menu {
  padding-bottom: 10px;
  border-bottom: 1px solid #8f8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .images__link {
  font-size: 18px;
  line-height: 21px;
  color: #ff8a00;
  margin-right: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.page .images__link:hover {
  color: #000000;
  border-bottom: 3px solid #000000;
}

.page .images__swiper .swiper-button-prev {
  background: url(/Images/arrow-left.svg);
  width: 140px;
  height: 140px;
}

.page .images__swiper .swiper-button-next {
  background: url(/Images/arrow-right.svg);
  width: 140px;
  height: 140px;
}

.page .images__swiper .swiper-button-prev:after,
.page .images__swiper .swiper-button-next:after {
  display: none;
}

.page .images__swiper .images__swiper-slide {
  padding-bottom: 40px;
  width: 940px;
  cursor: pointer;
}

.page .images__swiper .images__swiper-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page .images__swiper-2 {
  max-width: 372px;
}

.page .images__swiper-2 .images__swiper-2-slide {
  width: 34px;
}

.page .schedule {
  padding-bottom: 150px;
}

.page .schedule__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 55px;
}

.page .schedule__header .schedule__date {
  width: 49%;
  min-width: 400px;
}

.page .schedule__header .schedule__date .schedule__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .schedule__header .schedule__date .schedule__calendar-item:not(:last-child) {
  margin-right: 28px;
}

.page .schedule__header .schedule__date .schedule__calendar-item .calendar__item-day {
  font-size: 14px;
  line-height: 18px;
  color: #8f8f8f;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.page .schedule__header .schedule__date .schedule__calendar-item .calendar__item-number {
  font-size: 18px;
  line-height: 28px;
  color: #ff8a00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.page .schedule__header .schedule__date .schedule__calendar-item .calendar__item-number:hover {
  color: #000000;
}

.page .schedule__header .schedule__forms {
  width: 50%;
}

.page .schedule__header .schedule__forms .schedule__city {
  border: none;
  outline: none;
  border-bottom: 1px solid #8f8f8f;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-bottom: 75px;
}

.page .schedule__header .schedule__forms .schedule__place-title {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  color: #8f8f8f;
}

.page .schedule__header .schedule__forms .schedule__place-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .schedule__header .schedule__forms .schedule__place .place-list__item {
  font-size: 18px;
  line-height: 28px;
  color: #ff8a00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.page .schedule__header .schedule__forms .schedule__place .place-list__item:not(:last-child) {
  margin-right: 68px;
}

.page .schedule__header .schedule__forms .schedule__place .place-list__item:hover {
  color: #000000;
}

.page .schedule__header .schedule__forms .schedule__place .place-list__select {
  border: none;
  outline: none;
  width: 110px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page .schedule__body .schedule__list {
  border-top: 1px solid #000;
}

.page .schedule__body .schedule__list .schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.page .schedule__body .schedule__list .schedule__item-cinema {
  width: 49%;
  min-width: 400px;
  padding-right: 30px;
}

.page .schedule__body .schedule__list .schedule__item-cinema .cinema__title {
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.page .schedule__body .schedule__list .schedule__item-cinema .cinema__address {
  font-size: 14px;
  line-height: 18px;
  color: #8f8f8f;
}

.page .schedule__body .schedule__list .schedule__item-timing {
  width: 50%;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item {
  cursor: pointer;
  color: #8f8f8f;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item:not(:last-child) {
  margin-right: 50px;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item .timing-item__time {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item .timing-item__time:hover {
  color: #ff8a00;
}

.page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item .timing-item__price {
  font-size: 14px;
  line-height: 18px;
  color: #575757;
}

.page .facts {
  padding-bottom: 150px;
}

.page .facts img {
  margin-bottom: 30px;
  max-width: 100%;
}

.page .facts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 28px;
}

.page .facts__left {
  padding-right: 30px;
}

.page .facts__left-top {
  margin-bottom: 130px;
}

.page .facts__left .top-left__decription {
  max-width: 304px;
}

.page .facts__left-bottom .bottom-left__decription {
  max-width: 655px;
}

.page .facts__right-top {
  margin-bottom: 140px;
}

.page .facts__right .top-right__decription {
  max-width: 620px;
}

.page .facts__right .top-right__link {
  color: #ff8a00;
  cursor: pointer;
}

.page .facts__right-bottom .bottom-right__decription {
  max-width: 310px;
  margin-left: auto;
}

.page .else {
  padding-bottom: 40px;
  overflow: hidden;
}

.page .else__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

.page .else__swiper {
  overflow: inherit;
}

.page .else__swiper .swiper-button-prev {
  background: url(/Images/arrow-left.svg);
  width: 140px;
  height: 140px;
  top: 50%;
}

.page .else__swiper .swiper-button-next {
  background: url(/Images/arrow-right.svg);
  width: 140px;
  height: 140px;
}

.page .else__swiper .swiper-button-prev:after,
.page .else__swiper .swiper-button-next:after {
  display: none;
}

.page .else__swiper-slide {
  width: 304px;
  cursor: pointer;
}

.page .else__swiper-image img {
  width: 100%;
  margin-bottom: 30px;
}

.page .else__swiper-content .swiper-content__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
}

.page .else__swiper-content .swiper-content__description {
  font-size: 14px;
  line-height: 18px;
  color: #8f8f8f;
}

.page .else__swiper-slide-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  width: 304px;
  height: 458px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.page .else__swiper-slide-last .else__swiper-content-last {
  color: #8f8f8f;
}

.page .else__swiper-slide-last .swiper-content__name-last {
  font-size: 36px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.page .else__swiper-slide-last .swiper-content__description-last {
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.page .else__swiper-slide-last:hover {
  background-color: #f8e600;
}

.page .else__swiper-slide-last:hover div {
  color: #ffffff;
}

.footer {
  padding: 25px 60px;
  background: #000000;
  min-height: 200px;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .wrapper_box {
    height: 900px;
  }
}
/*# sourceMappingURL=style.css.map */