@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/sSuisseIntl-Light.woff2") format("woff2"), url("../fonts/SuisseIntl-Light.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"),
        url("../fonts/SuisseIntl-Regular.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-SemiBold.woff") format("woff2"),
        url("../fonts/SuisseIntl-SemiBold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "SuisseIntl", "sans-serif";
}
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 60px;
}
.title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}
.vh__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

// ---------------------- header ----------------------

.header {
    position: absolute;
    width: 100%;
    background-color: #f8e600;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px;
        margin: 0 auto;
        max-width: 1320px;
        min-height: 140px;
    }

    &__icons-main {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-left: -6px;
        margin-right: 16px;

        &:focus {
            outline: 2px solid #ff8a00;
        }
    }

    .burger {
        width: 34px;
        height: 14px;
        mask-image: url(../img/header/burger.svg);
        -webkit-mask-image: url(../img/header/burger.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: #000;
    }

    .heart {
        width: 24px;
        height: 24px;
        mask-image: url(../img/header/icon-heart.svg);
        -webkit-mask-image: url(../img/header/icon-heart.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: #000;
    }
    .search {
        margin-right: 170px;
        margin-left: 26px;
        width: 24px;
        height: 24px;
        mask-image: url(../img/header/icon-search.svg);
        -webkit-mask-image: url(../img/header/icon-search.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: #000;
    }
    .user {
        width: 24px;
        height: 24px;
        mask-image: url(../img/header/icon-user.svg);
        -webkit-mask-image: url(../img/header/icon-user.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: #000;
    }
    .burger:hover,
    .heart:hover,
    .search:hover,
    .user:hover {
        background-color: #ff8a00;
    }

    .burger:focus,
    .heart:focus,
    .search:focus,
    .user:focus {
        outline: none;
        background-color: #ff8a00;
    }
}

.page {
    // ---------------------- hero ----------------------

    .hero {
        padding-top: 165px;
        padding-bottom: 80px;
        background-color: #f8e600;

        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-main {
                position: relative;
                display: flex;
                z-index: 2;
                font-size: 36px;
                line-height: 42px;
                text-transform: uppercase;

                .main-content {
                    &__age {
                        margin-right: 130px;
                    }

                    &__title {
                        .title-content {
                            &__name {
                                font-size: 36px;
                                line-height: 42px;
                                font-weight: 400;
                            }
                            &__year {
                                margin-bottom: 10px;
                                margin-left: 160px;
                            }
                            &__director {
                                margin-left: 160px;
                                font-size: 14px;
                                line-height: 18px;
                                text-transform: capitalize;
                            }
                        }
                    }

                    &__data {
                        margin-left: auto;
                        margin-right: 230px;
                        transition: 0.3s ease-in;

                        .data-content {
                            &__rate {
                                margin-bottom: 16px;
                            }
                            &__number {
                                font-size: 14px;
                                line-height: 16px;
                                color: #575757;
                            }
                            &__age-reserve {
                                display: none;
                            }
                        }
                    }
                }
            }

            &-image {
                position: relative;
                display: block;
                margin: 0 auto;
                margin-top: -130px;
                max-width: 100%;
                object-fit: cover;
                transition: 0.3s ease-in;
            }

            &-ticket {
                position: absolute;
                bottom: 44%;
                left: 4%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140px;
                height: 140px;
                background-image: url(../img/fill-star.svg);
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            .ticket__link {
                max-width: 80px;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
                text-align: center;

                &:focus {
                    outline: 2px solid #fff;
                }
            }

            &-descr {
                display: flex;
                justify-content: space-between;

                .descr-content__premiere {
                    max-width: 172px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                }

                .descr-content__info {
                    max-width: 326px;
                    margin: 0;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }

    // ---------------------- about ----------------------

    .about {
        padding-top: 50px;
        padding-bottom: 200px;

        &__main-img {
            margin-bottom: 80px;
            max-width: 100%;
        }
        svg {
            position: absolute;
            bottom: 10%;
            right: 30%;
        }
        &__title {
            max-width: 1300px;
            margin-bottom: 20px;
            text-indent: 330px;
        }
        &__subtitle {
            margin-left: auto;
            margin-bottom: 80px;
            max-width: 665px;
            font-size: 18px;
            line-height: 28px;
        }

        &__list {
            width: 55%;
            margin-top: 0;
        }
        &__item {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__btn-more {
            display: none;
        }
        &__btn:hover {
            -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
            -moz-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        }
        .item-about {
            font-weight: 500;

            &__title {
                width: 25%;
                min-width: 200px;
                font-weight: 400;
            }

            &__descr {
                padding: 3px 0;
                padding-left: 3px;
                width: 75%;
                cursor: pointer;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &__link {
                color: #000;
            }
            &__link:hover {
                color: #ff8a00;
            }
            &__link:focus {
                outline: #ff8a00 2px solid;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__trailer {
            display: flex;
            flex-direction: column;
            padding-right: 90px;
            width: 50%;
        }
        .trailer {
            &__video-top {
                margin-top: -80px;
                margin-bottom: 40px;
            }
            &__link-top,
            &__link-bottom {
                position: relative;
                display: block;
                margin-bottom: 16px;
                max-width: 240px;
            }
            &__link-top:focus,
            &__link-bottom:focus {
                outline: #ff8a00 3px solid;
                outline-offset: 2px;
            }
            &__link-top::after,
            &__link-bottom::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                background-image: url(../img/about/youtube-red.svg);
                background-size: cover;
                background-repeat: no-repeat;
                transform: translate(-50%, -50%);
            }
            &__link-top:hover::after,
            &__link-bottom:hover::after {
                background-image: url(../img/about/youtube-grey.svg);
            }
            &__image-top,
            &__image-bottom {
                display: block;
            }
            &__title {
                margin: 0;
                margin-bottom: 10px;
                max-width: 240px;
                font-size: 24px;
                line-height: 30px;
                text-transform: none;
            }
            &__info {
                font-size: 14px;
                line-height: 18px;
                color: #575757;
            }

            &__video-bottom {
                position: relative;
                margin-left: auto;
            }
        }
        .height-auto__about {
            max-height: unset;
        }
        .tooltip {
            position: relative;
        }
        .marker {
            border: 1px solid #000;
            border-radius: 2px;
            padding: 1px;
        }
        .popup {
            position: absolute;
            top: 5px;
            left: 30px;
            font-size: 12px;
            opacity: 0;
            color: #8f8f8f;
        }
        .marker:hover + .popup,
        .marker:focus + .popup {
            opacity: 1;
        }
    }

    // ---------------------- index ----------------------

    .index {
        padding-bottom: 130px;
        &__list {
            border-bottom: 1px #000000 solid;
        }
        &__item {
            position: relative;
            border-top: 1px #000000 solid;
        }
        .item-menu {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &__button {
                display: flex;
                align-items: center;
                padding: 30px 0;
                padding-left: 32px;
                width: 100%;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                .button-menu {
                    &__number {
                        width: 25%;
                        min-width: 100px;
                        font-size: 14px;
                        line-height: 18px;
                        color: #575757;
                        text-align: start;
                    }
                    &__title {
                        color: #ff8a00;
                        margin-bottom: 0;
                        text-align: left;
                    }
                }
            }
        }
        .item-menu-1 .item-menu__button:hover,
        .item-menu-1 .item-menu__button:focus {
            background-image: url(../img/index/Menu1.jpg);
        }
        .item-menu-2 .item-menu__button:hover,
        .item-menu-2 .item-menu__button:focus {
            background-image: url(../img/index/Menu2.jpg);
        }
        .item-menu-3 .item-menu__button:hover,
        .item-menu-3 .item-menu__button:focus {
            background-image: url(../img/index/Menu3.jpg);
        }
        .item-menu-4 .item-menu__button:hover,
        .item-menu-4 .item-menu__button:focus {
            background-image: url(../img/index/Menu4.jpg);
        }
        .item-menu-5 .item-menu__button:hover,
        .item-menu-5 .item-menu__button:focus {
            background-image: url(../img/index/Menu5.jpg);
        }
        .item-menu-6 .item-menu__button:hover,
        .item-menu-6 .item-menu__button:focus {
            background-image: url(../img/index/Menu6.jpg);
        }
        .item-menu-7 .item-menu__button:hover,
        .item-menu-7 .item-menu__button:focus {
            background-image: url(../img/index/Menu7.jpg);
        }

        .item-menu .item-menu__button:hover span,
        .item-menu .item-menu__button:focus span {
            color: #fff;
        }
    }

    // ---------------------- starring ----------------------

    .starring {
        padding-bottom: 150px;
        overflow: hidden;

        &__container {
            margin: 0 auto;
            padding: 0 60px;
            width: 100%;
            max-width: 1320px;
        }

        &__swiper {
            overflow: inherit;

            .swiper-button-prev {
                top: 50%;
                width: 140px;
                height: 140px;
                background: url(../img/arrow-left.svg);
            }
            .swiper-button-next {
                width: 140px;
                height: 140px;
                background: url(../img/arrow-right.svg);
            }

            .swiper-button-prev:after,
            .swiper-button-next:after {
                display: none;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .starring__swiper-slide {
                max-width: 304px;
                cursor: pointer;
            }
            .starring__swiper-slide:nth-child(4n + 2) {
                margin-top: 230px;
            }
            .starring__swiper-slide:nth-child(4n + 3) {
                margin-top: 80px;
            }
            .starring__swiper-slide:nth-child(4n + 4) {
                margin-top: 310px;
            }
            .starring__swiper-image img {
                width: 100%;
                margin-bottom: 30px;
            }
            .swiper-content {
                &__name {
                    font-size: 28px;
                    line-height: 38px;
                }
                &__name-eng {
                    font-size: 14px;
                    line-height: 18px;
                    color: #8f8f8f;
                }
            }
        }
    }

    // ---------------------- images----------------------

    .images {
        padding-bottom: 150px;

        &__menu {
            display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid #8f8f8f;
        }
        &__link {
            margin-right: 50px;
            font-size: 18px;
            line-height: 21px;
            color: #ff8a00;
            transition: 0.3s ease;
        }
        &__link:hover {
            color: #000000;
            border-bottom: 3px solid #000000;
        }
        &__swiper-2 {
            margin-bottom: 40px;

            .swiper-button-prev {
                width: 140px;
                height: 140px;
                background: url(../img/arrow-left.svg);
            }
            .swiper-button-next {
                width: 140px;
                height: 140px;
                background: url(../img/arrow-right.svg);
            }
            .swiper-button-prev:after,
            .swiper-button-next:after {
                display: none;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__swiper {
            width: 372px;
        }
    }

    // ---------------------- schedule----------------------

    .schedule {
        padding-bottom: 150px;

        &__header {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 55px;

            .schedule__date {
                width: 49%;
                min-width: 400px;

                .schedule__calendar {
                    display: flex;

                    &-item:not(:last-child) {
                        margin-right: 28px;
                    }

                    &-item {
                        .calendar-item {
                            &__link {
                                display: block;

                                &:focus {
                                    outline: #ff8a00 3px solid;
                                }
                            }
                            &__day {
                                margin-bottom: 10px;
                                font-size: 14px;
                                line-height: 18px;
                                color: #8f8f8f;
                                text-transform: capitalize;
                            }
                            &__number {
                                font-size: 18px;
                                line-height: 28px;
                                color: #ff8a00;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    color: #000000;
                                }
                            }
                        }
                    }
                }
            }

            .schedule__forms {
                width: 50%;
                .schedule__city {
                    position: relative;
                    margin-bottom: 75px;
                    padding-bottom: 10px;
                    width: 100%;
                    font-size: 18px;
                    line-height: 21px;
                    border: none;
                    border-bottom: 1px solid #8f8f8f;
                    cursor: pointer;

                    &:focus {
                        outline: 3px #ff8a00 solid;
                    }
                }
                .schedule__place {
                    width: 50%;
                    &-title {
                        margin-bottom: 11px;
                        font-size: 14px;
                        line-height: 18px;
                        color: #8f8f8f;
                    }
                    &-list {
                        display: flex;
                        padding: 0;
                    }

                    .place-list {
                        &__item {
                            font-size: 18px;
                            line-height: 28px;
                            color: #ff8a00;
                            cursor: pointer;
                            transition: 0.3s;

                            &:not(:last-child) {
                                margin-right: 68px;
                            }
                            &:hover {
                                color: #000000;
                            }
                            &:focus {
                                outline: 3px #ff8a00 solid;
                            }
                        }
                        &__link {
                            color: #ff8a00;
                        }
                        &__link:focus {
                            outline: 3px #ff8a00 solid;
                            color: #000;
                        }
                        &__select {
                            width: 116px;
                            border: none;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            cursor: pointer;

                            &:focus {
                                outline: 3px #ff8a00 solid;
                            }
                        }
                    }
                }
            }
        }

        &__body {
            .schedule__list {
                border-top: 1px solid #000;

                .schedule__item {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    border-bottom: 1px solid #000;

                    &-cinema {
                        width: 49%;
                        min-width: 400px;
                        padding-right: 30px;

                        .cinema__title {
                            display: block;
                            margin-bottom: 6px;
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 38px;
                            text-transform: capitalize;
                        }
                        .cinema__address {
                            font-size: 14px;
                            line-height: 18px;
                            color: #8f8f8f;
                            font-weight: 400;
                        }
                    }

                    .timing__wrapper {
                        display: flex;
                        width: 50%;

                        &-item {
                            margin-right: 50px;
                            cursor: pointer;
                            color: #8f8f8f;

                            &:nth-child(4n) {
                                margin-right: 0;
                            }
                        }
                        .timing-item {
                            &__btn {
                                text-align: start;
                                &:focus {
                                    color: #ff8a00;
                                    outline: none;
                                }
                            }
                            &__time {
                                display: block;
                                margin-bottom: 11px;
                                font-size: 32px;
                                line-height: 32px;
                                transition: 0.3s;

                                &:hover {
                                    color: #ff8a00;
                                }
                            }
                            &__price {
                                font-size: 14px;
                                line-height: 18px;
                                color: #575757;
                            }
                        }
                    }
                }
            }
        }
    }

    // ---------------------- facts----------------------

    .facts {
        padding-bottom: 150px;
        img {
            margin-bottom: 30px;
            max-width: 100%;
        }

        &__content {
            display: flex;
            font-size: 18px;
            line-height: 28px;
        }
        &__left {
            padding-right: 30px;

            &-top {
                margin-bottom: 130px;
            }

            .top-left__decription {
                max-width: 304px;
            }

            &-bottom {
                .bottom-left__decription {
                    max-width: 655px;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &-top {
                margin-bottom: 140px;
            }

            .top-right {
                &__decription {
                    max-width: 620px;
                }
                &__link {
                    color: #ff8a00;
                    cursor: pointer;

                    &:focus {
                        outline: 2px solid #ff8a00;
                        color: #000;
                    }
                }
            }

            &-bottom {
                .bottom-right__decription {
                    max-width: 310px;
                }
            }
        }
        &__btn-more {
            display: none;
        }
        .height-auto__facts {
            max-height: unset;
        }
    }

    // ---------------------- else----------------------

    .else {
        padding-bottom: 40px;
        overflow: hidden;

        &__container {
            margin: 0 auto;
            padding: 0 60px;
            width: 100%;
            max-width: 1320px;
        }

        &__swiper {
            overflow: inherit;

            .swiper-button-prev {
                height: 140px;
                top: 50%;
                width: 140px;
                background: url(../img/arrow-left.svg);
            }
            .swiper-button-next {
                width: 140px;
                height: 140px;
                background: url(../img/arrow-right.svg);
            }
            .swiper-button-prev:after,
            .swiper-button-next:after {
                display: none;
            }

            &-slide {
                max-width: 304px;
                cursor: pointer;
            }
            &-image img {
                width: 100%;
                margin-bottom: 30px;
            }
            &-content {
                .swiper-content {
                    &__name {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 30px;
                        margin-bottom: 14px;
                    }
                    &__description {
                        font-size: 14px;
                        line-height: 18px;
                        color: #8f8f8f;
                    }
                }
            }

            &-slide-last {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 304px;
                height: 458px;
                text-align: center;
                background-color: #f7f7f7;
                transition: 0.3s ease;

                .else__swiper-content-last {
                    display: block;
                    color: #8f8f8f;
                    outline: none;
                }
                .else__swiper-content-last::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
                .else__swiper-content-last:focus::after {
                    outline: 3px solid #ff8a00;
                }
                .swiper-content__name-last {
                    margin-bottom: 10px;
                    font-size: 36px;
                    transition: 0.3s ease;
                }
                .swiper-content__description-last {
                    font-size: 18px;
                    transition: 0.3s ease;
                }

                &:hover,
                &:focus {
                    background-color: #f8e600;
                }
                &:hover div,
                &:focus div {
                    color: #ffffff;
                }
            }
        }
    }
}

// ---------------------- footer----------------------

.footer {
    padding: 25px 60px;
    background: #000000;
    min-height: 200px;
}

// ---------------------- @media----------------------

@media (max-width: 1300px) {
    .page .hero__content-image {
        margin-top: 0px;
    }
    .page .hero__content-descr {
        margin-top: 30px;
    }
    .page .hero__content-main .main-content__data {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .title {
        margin-bottom: 50px;
        font-size: 34px;
    }
    .page .about,
    .page .index,
    .page .starring,
    .page .images,
    .page .schedule,
    .page .facts,
    .page .else {
        padding-bottom: 100px;
    }

    // -------header-------------

    .header__content {
        min-height: 100px;
    }

    // -------hero-------------

    .page .hero {
        padding-top: 140px;
    }
    // -------about-------------

    .page .about__main-img {
        margin-bottom: 50px;
    }
    .page .about__title {
        text-indent: 0;
        font-size: 32px;
        line-height: 40px;
    }
    .page .about__subtitle {
        margin-left: 0;
        margin-bottom: 50px;
        max-width: 100%;
    }
    .page .about .trailer__video-top {
        margin-top: 0;
    }
    .page .about .trailer__video-bottom {
        margin-left: 0;
    }

    // -------starring-------------

    .page .starring__swiper .starring__swiper-slide:nth-child(4n + 2) {
        margin-top: 0;
    }
    .page .starring__swiper .starring__swiper-slide:nth-child(4n + 3) {
        margin-top: 0;
    }
    .page .starring__swiper .starring__swiper-slide:nth-child(4n + 4) {
        margin-top: 0;
    }

    // -------schedule-------------

    .page .schedule__header .schedule__forms {
        width: 45%;
    }
    .page .schedule__header .schedule__forms .schedule__place .place-list__item:not(:last-child) {
        margin-right: 40px;
    }
    .page .schedule__header {
        justify-content: space-between;
    }
    .page .schedule__header .schedule__forms .schedule__city {
        margin-bottom: 50px;
    }
    .page .schedule__header .schedule__date {
        min-width: 350px;
    }
    .page .schedule__header .schedule__date .schedule__calendar-item:not(:last-child) {
        margin-right: 20px;
    }
    .page .schedule__body .schedule__list .schedule__item {
        flex-direction: column;
    }
    .page .schedule__body .schedule__list .schedule__item-cinema {
        padding-right: 0;
        margin-bottom: 30px;
        width: 100%;
        min-width: 100%;
    }
    .page .schedule__body .schedule__list .schedule__item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .page .schedule__body .schedule__list .schedule__item-timing .timing__wrapper-item .timing-item__time {
        font-size: 28px;
    }

    // -------facts-------------

    .page .facts__content {
        flex-direction: column;
    }
    .page .facts__left .top-left__decription,
    .page .facts__left-bottom .bottom-left__decription,
    .page .facts__right .top-right__decription,
    .page .facts__right-bottom .bottom-right__decription {
        max-width: 100%;
        font-size: 15px;
        line-height: 22px;
    }
    .page .facts img {
        margin-bottom: 15px;
        width: 300px;
    }
    .page .facts__left-top,
    .page .facts__right-top {
        margin-bottom: 30px;
    }
    .page .facts__left {
        margin-bottom: 30px;
    }
    .page .facts__right {
        align-items: flex-start;
    }
    .page .facts__right .top-right__decription {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
        margin-bottom: 50px;
    }
    .container {
        padding: 0 40px;
    }
    .page .about,
    .page .index,
    .page .starring,
    .page .images,
    .page .schedule,
    .page .facts,
    .page .else {
        padding-bottom: 50px;
    }

    // -------header-------------

    .header__content {
        padding: 0 40px;
        min-height: 80px;
    }
    .header .search {
        margin-left: 10px;
        margin-right: 30px;
    }

    // -------hero-------------

    .page .hero {
        padding-top: 100px;
    }
    .page .hero__content-main .main-content__age {
        margin-right: 30px;
    }
    .page .hero__content-ticket {
        left: 0;
        bottom: 62%;
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .page .hero__content-ticket .ticket__link {
        font-size: 14px;
    }
    .page .hero__content-descr {
        flex-direction: column-reverse;
    }
    .page .hero__content-descr .descr-content__premiere {
        text-align: center;
        align-self: center;
    }
    .page .hero__content-descr .descr-content__info {
        max-width: 100%;
        margin-bottom: 20px;
    }

    // -------about-------------

    .page .about__content {
        flex-direction: column;
    }
    .page .about__main-img {
        margin-bottom: 20px;
    }
    .page .about__title {
        font-size: 26px;
        line-height: 34px;
    }
    .page .about__trailer {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-right: 0;
        width: 100%;
    }
    .page .about__list {
        margin-bottom: 20px;
        width: 100%;
        max-height: 190px;
        overflow: auto;
    }
    .page .about .trailer__title {
        font-size: 20px;
        line-height: 24px;
    }
    .page .about .item-about__descr {
        width: 100%;
    }
    .page .btn {
        position: relative;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        width: 100px;
        height: 20px;
        background: #ff8a00;
        border: 1px solid #ff8a00;
        border-radius: 6%;
        font-size: 16px;
        transition: 0.3s ease;
    }
    .btn::after {
        content: "";
        position: absolute;
        left: 74px;
        top: 14px;
        width: 10px;
        height: 10px;
        mask-image: url(../img/about/more-arrow.svg);
        -webkit-mask-image: url(../img/about/more-arrow.svg);
        mask-size: contain;
        -webkit-mask-size: contain;
        background-color: #fff;
    }

    // -------index-------------

    .page .index .item-menu__button {
        padding: 20px 10px;
    }
    .page .index .item-menu__button .button-menu__title {
        font-size: 32px;
    }
    .page .index .item-menu__button .button-menu__number {
        width: 20%;
    }
    // -------starring-------------

    .page .starring__swiper .swiper-button-next,
    .page .starring__swiper .swiper-button-prev {
        width: 80px;
        height: 80px;
        background-size: cover;
    }

    // -------images-------------

    .page .images__swiper-2 .swiper-button-prev,
    .page .images__swiper-2 .swiper-button-next {
        width: 80px;
        height: 80px;
        background-size: cover;
    }
    .page .images__swiper-2 {
        margin-bottom: 0;
    }
    .page .images__swiper {
        display: none;
    }

    // -------schedule-------------

    .page .schedule__header {
        flex-direction: column;
    }
    .page .schedule__header .schedule__date {
        margin-bottom: 40px;
    }
    .page .schedule__header .schedule__forms {
        width: 100%;
    }
    .page .schedule__header .schedule__forms .schedule__city,
    .page .schedule__header .schedule__forms .schedule__place {
        width: 100%;
    }

    .page .else__swiper .swiper-button-prev,
    .page .else__swiper .swiper-button-next {
        width: 80px;
        height: 80px;
        background-size: cover;
    }

    // -------facts-------------

    .page .facts__content {
        margin-bottom: 20px;
        max-height: 230px;
        overflow: auto;
    }

    // -------footer-------------

    .footer {
        padding: 25px 20px;
        min-height: 100px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
    .title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    // -------header-------------

    .header__content {
        padding: 0 20px;
    }
    .header .logo {
        margin-right: 10px;
    }
    .header .search {
        margin-right: 20px;
    }

    // -------hero-------------

    .page .hero__content-image {
        margin-top: 30px;
    }
    .page .hero__content-main .main-content__data .data-content__age-reserve {
        display: block;
    }
    .page .hero__content-main .main-content__age {
        display: none;
    }
    .page .hero__content-main .main-content__data .data-content__rate {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
    }
    .page .hero__content-main .main-content__data .data-content__number {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 12px;
    }
    .page .hero__content-main .main-content__title .title-content__year {
        margin-left: 100px;
        margin-bottom: 0;
    }
    .page .hero__content-main .main-content__title .title-content__director {
        margin-left: 100px;
    }
    .page .hero__content-ticket {
        width: 80px;
        height: 80px;
    }
    .page .hero__content-ticket .ticket__link {
        max-width: 70px;
        font-size: 12px;
        line-height: 16px;
    }
    .page .hero__content-descr {
        margin-top: 20px;
    }
    .page .hero__content-descr .descr-content__premiere {
        max-width: 100%;
    }
    .page .hero__content-descr .descr-content__info {
        font-size: 16px;
        line-height: 20px;
    }
    // -------about-------------

    .page .about {
        padding-top: 30px;
    }
    .page .about__item {
        flex-direction: column;
    }
    .page .about__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
    }
    .page .about__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .page .about .item-about__title {
        margin-bottom: 10px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
    }
    .page .about__trailer {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .page .about .trailer__title {
        font-size: 18px;
        line-height: 20px;
    }
    .page .about .trailer__image-1,
    .page .about .trailer__image-2 {
        margin-bottom: 10px;
    }
    .page .about .trailer__video-top {
        margin-bottom: 20px;
    }

    // -------index-------------

    .page .index .item-menu__button .button-menu__title {
        font-size: 26px;
        line-height: 30px;
    }
    .page .index .item-menu__button .button-menu__number {
        width: 10%;
        min-width: 40px;
        font-size: 16px;
    }

    // -------starring-------------

    .page .starring__container {
        padding: 0 20px;
    }
    .page .starring__swiper .swiper-content__name {
        font-size: 24px;
        line-height: 30px;
    }
    .page .starring__swiper .starring__swiper-image img {
        margin-bottom: 20px;
    }
    .page .starring__swiper .swiper-button-next,
    .page .starring__swiper .swiper-button-prev {
        visibility: hidden;
    }
    .page .starring__swiper .starring__swiper-slide {
        max-width: 250px;
    }

    // -------images-------------

    .page .images__swiper-2 .swiper-button-next,
    .page .images__swiper-2 .swiper-button-prev {
        visibility: hidden;
    }

    // -------schedule-------------

    .page .schedule__header .schedule__forms .schedule__place-list {
        flex-direction: column;
        margin-bottom: 0;
    }
    .page .schedule__header .schedule__forms .schedule__place .place-list__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .page .schedule__header .schedule__forms .schedule__place .place-list__select {
        width: 130px;
    }
    .page .schedule__header {
        margin-bottom: 30px;
    }
    .page .schedule__header .schedule__date .schedule__calendar-item:not(:last-child) {
        margin-right: 14px;
    }
    .page .schedule__header .schedule__date {
        min-width: auto;
    }

    .page .schedule__body .schedule__list .schedule__item .timing__wrapper-item {
        margin-right: 20px;
    }
    .page .schedule__body .schedule__list .schedule__item .timing__wrapper-item:nth-child(4n) {
        margin-right: 0;
    }

    .page .schedule__body .schedule__list {
        width: 100%;
    }
    .page .schedule__body .schedule__list .timing__wrapper-item {
        flex-wrap: wrap;
    }
    .page .schedule__body .schedule__list .schedule__item .timing__wrapper .timing-item__time {
        font-size: 22px;
        line-height: 20px;
    }

    .page .schedule__body .schedule__list .schedule__item .timing__wrapper .timing-item__price {
        font-size: 12px;
    }
    .page .schedule__body .schedule__list .schedule__item-cinema .cinema__title {
        font-size: 20px;
        line-height: 24px;
    }
    .page .schedule__body .schedule__list .schedule__item-cinema {
        margin-bottom: 20px;
    }

    // -------else-------------

    .page .else__container {
        padding: 0 20px;
    }
    .page .else__swiper-image img {
        margin-bottom: 20px;
    }
    .page .else__swiper-content .swiper-content__name {
        margin-bottom: 4px;
    }

    .page .else__swiper .swiper-button-next,
    .page .else__swiper .swiper-button-prev {
        visibility: hidden;
    }
    .page .else__swiper-slide {
        max-width: 250px;
    }
}
